build/backstage.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.min.css">
    <title>Backstage - SЫSЫNO Studio</title>
  </head>
  <body>
    <header class="header">
      <div class="header__top"><a class="header__logo" href="index.html"><img class="header__img" src="./img/logo.png" alt="logo"></a>
        <div class="header__deviz">Мы не говорим, что вам нужно. Мы делаем то, что вы хотите.</div>
      </div>
      <ul class="header__menu menu">
        <li class="menu__item"><a class="menu__link" href="./backstage.html"><img class="menu__img" src="./img/butttons/but_backstage.png" alt="backstage">
            <p class="menu__text">backstage</p></a></li>
        <li class="menu__item"><a class="menu__link" href="./pricepage.html"><img class="menu__img" src="./img/butttons/but_price.png" alt="Прайс">
            <p class="menu__text">Прайс</p></a></li>
        <li class="menu__item"><a class="menu__link" href="./portfoliopage.html"><img class="menu__img" src="./img/butttons/but_portfolio.png" alt="Портфолио">
            <p class="menu__text">Портфолио</p></a></li>
        <li class="menu__item"><a class="menu__link" href="./reviewpage.html"><img class="menu__img" src="./img/butttons/but_otzyv.png" alt="Отзывы">
            <p class="menu__text">Отзывы</p></a></li>
        <li class="menu__item"><a class="menu__link" href="./contactspage.html"><img class="menu__img" src="./img/butttons/but_kontakt.png" alt="Контакты">
            <p class="menu__text">Контакты</p></a></li>
      </ul>
    </header>
    <nav class="float-menu">
      <div class="nav"><a class="nav__logo" href="index.html"><img class="nav__img" src="./img/logo.png"></a>
        <ul class="nav__menu">
          <li class="nav__menu-item"><a class="nav__link" href="./backstage.html">backstage</a></li>
          <li class="nav__menu-item"><a class="nav__link" href="./pricepage.html">Прайс</a></li>
          <li class="nav__menu-item"><a class="nav__link" href="./portfoliopage.html">Портфолио</a></li>
          <li class="nav__menu-item"><a class="nav__link" href="./reviewpage.html">Отзывы</a></li>
          <li class="nav__menu-item"><a class="nav__link" href="./contactspage.html">Контакты</a></li>
        </ul><a class="nav__burger"><span></span></a>
        <div class="nav__phone">+7-923-671-85-80</div>
      </div>
    </nav>
    <main>
      <div class="backstage">
        <div class="backstage__header container">
          <div class="backstage__title">
            <h1 class="title">Backstage</h1>
          </div>
          <div class="backstage__description">
            <p>Здесь Вы можете увидеть, как происходит процесс записи, оценить рабочую атмосферу. После того, как Вы станете нашим клиентом, велика вероятность, что Ваши фото появятся здесь (только при Вашем согласии).</p>
          </div>
        </div>
        <ul class="backstage__container container">
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back1.jpg" alt="backstage-photo"></li>
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back2.jpg" alt="backstage-photo"></li>
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back3.jpg" alt="backstage-photo"></li>
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back4.jpg" alt="backstage-photo"></li>
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back5.jpg" alt="backstage-photo"></li>
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back6.jpg" alt="backstage-photo"></li>
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back7.jpg" alt="backstage-photo"></li>
          <li class="backstage__pic"><img class="backstage__img" src="./img/backstage/back8.jpg" alt="backstage-photo"></li>
        </ul>
      </div>
      <div class="button-up"><img src="./img/butttons/but_up.png" alt="click&amp;up"></div>
    </main>
    <footer class="footer">
      <div class="footer__place">
        <div class="footer__name">SЫSЫNO Studio</div>
        <div class="footer__logo"><img src="./img/logo.png" alt="logo"></div>
        <div class="footer__adress">г.Омск, ул.Незнаючего, 11</div>
        <div class="footer__phone">+7-913-555-33-66</div>
      </div>
      <div class="footer__menu">
        <div class="footer__head-menu">Если вам было мало одного "меню", то вот запасное</div>
        <ul class="footer__nav fnav">
          <li class="fnav__menu-item"><a class="fnav__link" href="./backstage.html">backstage</a></li>
          <li class="fnav__menu-item"><a class="fnav__link" href="./pricepage.html">Прайс</a></li>
          <li class="fnav__menu-item"><a class="fnav__link" href="./portfoliopage.html">Портфолио</a></li>
          <li class="fnav__menu-item"><a class="fnav__link" href="./reviewpage.html">Отзывы</a></li>
          <li class="fnav__menu-item"><a class="fnav__link" href="./contactspage.html">Контакты</a></li>
          <li class="fnav__menu-item">Для симметрии</li>
        </ul>
      </div>
      <div class="footer__quote">Здесь должна быть мудрая цитата про печеньки. Но будем кратки: они у нас есть.</div>
    </footer>
    <script src="./js/main.min.js"></script>
  </body>
</html>

src/templates/sections/backstage.pug
-var path = "../../img/backstage/"
-var img = ["back1.jpg", "back2.jpg", "back3.jpg", "back4.jpg", "back5.jpg", "back6.jpg", "back7.jpg", "back8.jpg"]

.backstage
    .backstage__header.container
        .backstage__title
            h1.title Backstage
        .backstage__description
            p Здесь Вы можете увидеть, как происходит процесс записи, оценить рабочую атмосферу. После того, как Вы станете нашим клиентом, велика вероятность, что Ваши фото появятся здесь (только при Вашем согласии).
    ul.backstage__container.container
        each item in img
            li.backstage__pic
                img(src=(path + item) alt="backstage-photo").backstage__img
